:{$PORT} {

    handle /api/* {
        reverse_proxy http://hospital-callyzer-server.railway.internal:8080
    }

    handle {
        root * /app/dist
        try_files {path} /index.html
        file_server
    }
}
